@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

body {
  margin: 0;
  background-color: #fff2f2;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Pacifico', cursive;
}

.site-container {
  height: 100vh;
}

.colscroll {
  max-height: 300px;
  overflow-y: scroll;
}

main {
  margin-top: 120px;
  flex: 1;
}

.category-button {
  border: none;
  border-radius: 10px;
  background-color: #fff;
  padding: 3px 7px;
}

.category-button:hover {
  background-color: #ef9f9f;
  color: #f1f1f1;
}

.homepage-button {
  border: none;
  border-radius: 10px;
  background-color: #fff;
  padding: 3px 7px;
}

.homepage-button a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

/*BREADCRUMB*/

.breadcrumb-item a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.breadcrumb-item a:hover {
  border-bottom: solid 2px #000;
}

.breadcrumb-item {
  padding: 5px;
}

/*IMAGES*/
.img-thumbnail {
  width: 80px;
  min-height: 80px;
  max-height: 80px;
  height: auto;
  object-fit: cover;
  border: none;
}

.product-page-main-image-container {
  max-width: 380px;
  object-position: center;
}

/*MENUS*/
.list-group .activee {
  background-color: #ef9f9f;
}

.list-group .activee a {
  text-decoration: none;
  color: #f1f1f1;
}

.list-group a {
  text-decoration: none;
  font-weight: 600;
  color: #000;
}
.admin-product-link {
  font-weight: 600;
  color: #000;
  text-decoration: none;
}
/*COULEURS GENERALES*/
.bg1 {
  background-color: #f47c7c;
}

.bg2 {
  background-color: #ef9f9f;
}

.bg3 {
  background-color: #fad4d4;
}

.bg4 {
  background-color: #fff2f2;
}

.gap {
  line-height: 25px;
}

/*CARDS*/
.hover-shadow:hover {
  box-shadow: 5px 5px 5px #fad4d4bb;
  transform: scale(1.025);
}

.paypal-button.paypal-button-number-1.paypal-button-layout-vertical.paypal-button-shape-rect.paypal-button-number-multiple.paypal-button-env-production.paypal-button-color-black.paypal-button-text-color-white.paypal-logo-color-white {
  display: none !important;
}

.card {
  border: solid 2px #f1f1f1;
}

.card-img-top {
  height: 220px;
  object-position: center center;
  object-fit: cover;
}

.card-link {
  text-decoration: none;
  width: 100%;
}

.card-titre {
  color: #f47c7c;
}

.card-price {
  color: #000;
}

.product-card {
  width: 100%;
}

.product-badge {
  top: 0.5rem;
  right: 0.5rem;
  position: absolute;
}

.card-title-container {
  display: flex;
  align-items: center;
}

.justify-content-space-between {
  justify-content: space-between;
}
/*NAVBAR*/
.navbar {
  background-color: #f47c7c;
}

.menu-principal a {
  color: #f1f1f1;
  font-weight: 400;
  text-transform: uppercase;
}

.navbar img {
  cursor: pointer;
}

.menu-principal a:hover {
  color: black;
  transition: all ease-out;
  transition-duration: 1s;
}

.footer-link a:hover {
  color: black;
  transition: all ease-out;
  transition-duration: 1s;
}

.navbar2 {
  background-color: #ef9f9f;
}

.navbar2 .nav-link {
  text-decoration: none;
  color: #fff2f2;
}

.cart-link {
  background-color: #fff2f2;
  max-width: 150px;
  padding: 10px 10px;
  border-radius: 50px;
  text-align: center;
  font-weight: 400;
  color: #f47c7c;
}

.cart-link:hover {
  background-color: #ef9f9f;
  color: #fff2f2;
  transition: all ease-out;
  transition-duration: 0.5s;
}

.offcanvas {
  max-width: 70%;
}

/*PRIX*/
.price-tag {
  font-size: 20px;
  font-weight: 500;
}

/*CAROUSEL*/
.carousel-item img {
  height: 450px;
  object-fit: cover;
}

.carousel-caption {
  background: rgba(255, 242, 242, 0.5);
  color: #000;
  border-radius: 30px;
}

.title {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/*ETOILES NOTES*/
.rating span {
  color: #000;
}

/*BADGE EN STOCK*/
.badge-stock {
  background-color: #ef9f9f;
  font-size: 12px;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

/*BADGE EPUISE*/
.badge-epuise {
  background-color: red;
  font-size: 12px;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

/*FORMULAIRES*/

.small-container {
  max-width: 800px;
}

/*CHECKOUT STEPS*/

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #000;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f47c7c;
  color: #f08000;
}

.card {
  background-color: #f1f1f1;
  border-color: lightgray;
}
.card a {
  text-decoration: none;
  color: #f47c7c;
}

.card-rating {
  font-size: 90%;
}

/*
LOGO
*/

.btrr-lg {
  border-top-right-radius: 40px;
}
.btlr-lg {
  border-top-left-radius: 40px;
}
.bbr-lg {
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
}

/*RESPONSIVE*/

@media screen and (max-width: 767px) {
  .product-vignettes {
    display: none;
  }

  .product-vignettes-bottom {
    display: flex;
    justify-content: start;
  }

  .carousel-item {
    max-height: 400px;
  }
  .carousel-item img {
    height: 300px;
    object-fit: cover;
    opacity: 0.7;
  }
  .logo-footer {
    display: none;
  }
}

.cat-link:hover,
.sub-cat-link:hover {
  background-color: #fad4d4;
  color: #f47c7c;
}

@media screen and (min-width: 767px) {
  .product-vignettes {
    display: block;
  }
  .product-vignettes-bottom {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .mobile-cart {
    display: block;
  }
  .site-cart {
    display: none;
  }
}

@media screen and (min-width: 991px) {
  .mobile-cart {
    display: none;
  }
  .categories-menu {
    display: flex;
  }
}

@media screen and (max-width: 350px) {
  .signup-button {
    display: none;
  }
}
