body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff2f2;
}

.site-container {
  height: 100vh;
}

main {
  margin-top: 100px;
  flex: 1;
}

/*IMAGES*/

.img-thumbnail {
  max-width: 80px;
  height: auto;
  object-fit: cover;
  border: none;
}

.list-group .activee {
  background-color: #ef9f9f;
}

.list-group .activee a {
  text-decoration: none;
  color: #f1f1f1;
}

.list-group a {
  text-decoration: none;
  font-weight: 600;
  color: #000;
}

/*COULEURS GENERALES*/

.bg1 {
  background-color: #f47c7c;
}

.bg2 {
  background-color: #ef9f9f;
}

.bg3 {
  background-color: #fad4d4;
}

.bg4 {
  background-color: #fff2f2;
}

/*CARDS*/

.card {
  border: solid 2px #f1f1f1;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

/*NAVBAR*/

.navbar {
  background-color: #f47c7c;
}

.navbar2 {
  background-color: #ef9f9f;
}

.navbar2 .nav-link {
  text-decoration: none;
  color: #f1f1f1;
}

/*PRIX*/
.price-tag {
  font-size: 20px;
  font-weight: 500;
}

/*CAROUSEL*/

.carousel-item {
  max-height: 500px;
}

.carousel-item img {
  height: 450px;
  object-fit: cover;
  opacity: 0.7;
}

.carousel-caption {
  background: rgba(255, 242, 242, 0.5);
  color: #000;
  border-radius: 30px;
}

.title {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/*ETOILES NOTES*/

.rating span {
  color: #ffc000;
}

/*FORMULAIRES*/

.small-container {
  max-width: 600px;
}

/*CHECKOUT STEPS*/

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #000;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #000;
  color: #f08000;
}

.card {
  background-color: #fff2f2;
}
.card a {
  text-decoration: none;
  color: #f47c7c;
}
